---
import { Badge } from "./ui/badge";

export interface Props {
  badges: Array<string>;
}

const { badges } = Astro.props;
---

{
  // if the badges prop is passed and it's a list, render badges list
  badges && Array.isArray(badges) && (
    <ul role="list" class="flex flex-wrap gap-1">
      {badges.map((badgeName) => (
        <li>
          <Badge variant={"default"} className="hover:bg-primary">
            {badgeName}
          </Badge>
        </li>
      ))}
    </ul>
  )
}
